<?xml version="1.0" encoding="UTF-8"?>

<Configuration name="powerlog">

	<Properties>
    	<Property name="id">1</Property>
  	</Properties>
  
  <Appenders>
  
    <RollingFile name="FileAppender" fileName="logs/powerlog-${id}.log" filePattern="logs/$${date:yyyy-MM-dd}/powerlog-${id}-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
      <Policies>
  		<OnStartupTriggeringPolicy />
	  </Policies>
    </RollingFile>
    
    <Async name="Async">
      <AppenderRef ref="FileAppender"/>
    </Async>

	<Console name="STDOUT" target="SYSTEM_OUT">
		<PatternLayout pattern="%m%n" />
	</Console>
    
  </Appenders>
  
  <Loggers>
  
    <Root level="info">
      <AppenderRef ref="Async"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
    
  </Loggers>
  
</Configuration>